
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #930077;
}
.container {
    width: 100%;
    margin: 0 auto;
   
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

#title {
    font-size: 2rem;
    text-align: center;
}
#description {
    font-size: 1.125rem;
    text-align: center;
    margin: 3% 0;
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}
form {
    background-color: rgba(27, 27, 50, 0.7);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;  
}
@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}
#survey-form {
    
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
  
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-checkbox,
.input-radio {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #ffbd39;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
.submit-button:hover,
.submit-button:active {
    background: #ffaa00;
}

footer {
    text-align: center;
    font-style: italic;
}
















