*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #127681;
    color: #000;
}
#main {
    background-color: #f4f6ff;
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    
}
h1 {
    font-size: 4rem;
    margin-bottom: 0;
}
#title {
    font-size: 4rem;
    margin-bottom: 0;
    color: #10375c;
}
p{}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#img-div {
   background: #f3c623;
    padding: 10px;
    margin: 0;
}
#image {
    
}

#img-caption{
   margin: 15px 0; 
}

#tribute-info { 
}
#headline {
   margin: 50px 0;
    text-align: center;
}
ul{
    max-width: 70%;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{
    margin: 15px 0;
}

blockquote {
    font-style: italic;
    max-width: 50%;
    margin: 0 auto 50px auto;
    text-align: center;
}
#tribute-link {
   color: #217be5; 
}

footer {
    font-style: italic;
    background-color: #127681;
    color: #fff;
    margin: 0.7% 0;
}


@media (max-width: 460px){
    #main{
        margin: 0;
    }
    h1 {
        font-size: 1.5rem;
        line-height: 1.0;
    }
    #img-caption {
        font-size: 1.2rem;
    }
    #title {
        font-size: 2rem;
    }
    blockquote {
        max-width: 80%;
    }
}



