@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #010114;
    font-family: 'Lato', sans-serif;
    color: #fff;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

section{
    height: 100vh;
}

#home {
    background-image: url(https://images3.alphacoders.com/681/681652.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    
}
h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1% 0;
}
#main-heading {
    margin-bottom: 2%;
    margin-top: -15rem;
    font-size: 5rem;
}
#caption-main {
   margin-bottom: 1%; 
}
h2 {
    font-size: 2rem;
    font-weight: 400;
}

#email {
    width: 100%;
    height: 1.7rem;
    border-radius: 2px;
    background-color: #000000;
    margin-bottom: 1%;
}

#header-img {
    height: 80px;
    width: 80px;
    margin: 5px;
    padding: 5px;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1.2em;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px #ff0 solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
.btn:hover,
.btn:active {
    color: #000;
    background: #ff0;
    transition: background 0.5s;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-link {
    color: #fff;
}
nav {
    font-size: 1.125rem;
    font-weight: 400;
}

ul {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}





























