@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
    font-size: 16px;
    background-color: #000000;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 400;
    color: #fff;
}

h1, h2 {
    font-weight: 700;
    text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    display: block;
    width: 100%;
}


/* NAVIGATION */

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(175, 24, 255, 0.9);
    box-shadow: 0 2px 0 rgba(0,0,0,0.4);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}


.nav-list a:hover {
    background-color: #440d90;
}

/* Welcome Section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #f3c623, #10375c);
}

.welcome-section > p {
    font-size: 3rem;
    font-weight: 100;
    font-style: italic;
}

/* Projects Section */

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background-color: #393e46;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 2px solid #0a97b0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: #000;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: #000;
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #d92027;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 3rem;
    padding: 2rem 0.5rem;
}

/* CONTACT SECTION */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 100%;
    padding: 0 2rem;
    background: #07031a;
}

.contact-section-header > h2 {
    font-size: 6rem;
}

.contact-section-header > a {
    font-size: 2.3rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    margin-right: 2rem;
}

.fa-github:hover {
    color: #6a737d;
}
.fa-twitter:hover {
    color: #1da1f2;
}
.fa-facebook:hover {
    color: #1877f2;
}
.fa-linkedin:hover {
    color: #2867b2;
}
.fa-instagram:hover {
    color: #c32aa3;
}
.fa-blog:hover {
    color: #ff6c00;
}


.fa-github,
.fa-twitter,
.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-blog {
    transition: color 0.2s;
    font-size: 2.5rem;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    padding: 2rem;
    background: #07031a;
}

footer > p {
    margin: 0.3rem;
}




/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}


/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
    .projects-section-header {
    font-size: 4rem;
    }
    
    .contact-section-header > h2 {
    font-size: 4rem;
  }
    
    footer {
    flex-direction: column;
    text-align: center;
  }
}
















